
.mirror{
    margin-top: 20px;
    background-color: whitesmoke;
}
.bmibox{
    display: flex;
    flex-direction: column;
    width:400px;
    margin-top:50px;
    font-family: 'Leckerli One',cursive;

}


.manbox{
    padding-top: 20px;
    width: 400px;
}
.itemList{
    border:1px solid black;
}