
.mirror{
    margin-top: 20px;
    background-color: whitesmoke;
}
.bmibox{
    width:100%;

}

.manbox{
    padding-top: 20px;
    width: 400px;
    height:600px;
    background-color: red;
    margin: 0 auto;
}