.items{
    
    background-color: #F5F5F7;
    font-size: 15pt;
     font-family: Georgia,
     'Times New Roman',
     Times,
     serif

}

.line{
    margin-top: 30px;
    padding:8px;
    height:25px;

}
.topitem{
    display: flex;
    flex-direction: row;
}

