$font_color: gray;
$page_color:#F5F5F7;
$korfont: 'Roboto', sans-serif;
$engfont: 'Lobster',cursive;
$engBfont:'Roboto',sans-serif;

.wrapcards{
        display: flex;
        flex-direction: column;
        align-items: center;
}
.cards  {
    width:150px;
    height:150px;
    border-radius: 14px;
    background-color: #f5f5f7;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 6px 7px 3px #aaaaaa;
    margin-right:20px;

}


// .cards:hover {
//     width: 300px;
//     height: 300px;
//     border-radius: 14px;
//     padding:10px;
//     background-color: #f5f5f7;
//     box-shadow: 10px 5px 5px rgb(170, 170, 170);
//     cursor:pointer;
// }

img{
    width:90%;
    height:90%;
    border: none;
}
button{
    border-radius: 20px;
    border: 1px solid #ddd
}

button:active {
    border-radius: 20px;
    background-color: #ccc;
    border: 1px solid #ddd
}

.captions{
    padding-top: 10px;
    width:80px;
    display: flex;
    justify-content: space-between;
    margin-top:10px;
}