.App {
  text-align: center;
  background-color: black;
}
.header{
  position: relative;
  width: 100%;
  height: 70px;
  background-color: rgb(226, 226, 226);
}

.base{
 display: flex;
 width: 100%;
 justify-content: space-between;
background-color: white;

}

.right-side{
margin-top: 10px;
width: 48%;
background-color: white;

}
.mirror{
  margin: 0 auto;
  width: 300px;
  height: 600px;
  border-radius: 14px;
  background-color: #f5f5f7;
  

}
.mirror img{
  width:100%;
  height:100%;
}
.itemList{
  width: 100%;
  margin-top: 30px;
  height: 300px;
  border: 1px solid #f5f5f7;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
}
.items{
  margin:10px;
}
.line{
  text-align: left;
  margin:10px;

}
.marketInfo{
  width:100%;
  background-color: black;
}
.footer{
    position: fixed;
    bottom:0;
    width: 100%;
    height: 50px;
    background-color: rgb(218, 218, 218);
}



.like-box {
  display: inline-block;
}
.likeButton {
  border: none;
  border-radius: 5px;
}